$breakpoint-tablet: 768px;
$breakpoint-mobile: 576px;
//general
#app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    
    #swup {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        & #welcome {
            align-items: center;
            margin-bottom: 6vh;
        }
    }
}

.fit-cover {
    object-fit: cover;
}

//Navbar
nav {
    .info {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 35px;
        width: 35px;

        border: 2px solid white;
        border-radius: 50%;

        cursor: pointer;
    }

    .logo {
        width: 90px;
        // width: 30px;
    }
}

//modal-info

.btn-insta {
    background-color: #fff;
    padding: .5rem 1rem;
    text-decoration: none;
    color: #C71E7E;
    display: flex;
    align-items: center;
    transition: all .2s ease-in-out;
   border: 1px solid #DF3796;
   
   border-radius: 6px;

    i {
      color: #DF3796;
      font-size: 20px;
      padding-right: 10px;
      transition: all .3s ease-in-out;
    }
    span {
      align-self: center;
      transform: translateX(0px);
      transition: all .1s ease-in-out;
      opacity: 1;
     }
   
   &:hover {
    transform: scale(1.1);
    background: linear-gradient(to right, #ff3019 0%,#c90477 100%);
    box-shadow: 0px 10px 30px rgba(0,0,0,0.10);
    border:0;
      i {
        transform: translateX(22px);
        padding-right: 0;
        color: #FFF;
      }
      span {
        transform: translateX(20px);
        opacity: 0;
      }
    }
   &:active {
     transform: scale(1);
     box-shadow: 0px 2px 10px rgba(0,0,0,0.10);
   }
}



// Welcome
h1,
h2,
h3 {
    font-family: "Lilita One", cursive;
}

.avatar-section {
    position: relative;

    .reload-icon {
        width: 50px;
        height: 50px;
        font-size: 1.7em;
        color: $primary;
        background: white;
        border: 2px solid #c1c1c1;

        position: absolute;
        bottom: 20px;
        right: 20px;

        display: flex;
        align-items: center;
        justify-content: center;

        transition-property: transform;
        transition-duration: 1s;

        &:hover {
            i {
                animation-name: rotate;
                animation-duration: 2s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
            }
        }
    }
}

@-moz-keyframes rotate {
    100% {
        -moz-transform: rotate(360deg);
    }
}
@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

// Input

.bg-blue-gradient {
    background: linear-gradient($primary, $secondary);
}

.input-pseudo {
    padding-top: 25px;
    padding-bottom: 25px;
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid white;
    border-radius: 6px;
    font-size: 1.1rem;
    letter-spacing: 2px;
    &::placeholder {
        color: white;
    }
    &.form-control {
        background: rgba(255, 255, 255, 0.2);
        color: white;
    }
}

.submit {
    letter-spacing: 1px;
}

//Room
.hiddenurl {
    position: absolute;
    left: -9999px;
}
    // padding: 12%;
    // transform: translateY(10%);
    .img-pending {
        background: #bddce9;
        border: 3px dashed grey;
        border-radius: 50%;

        -webkit-animation: rotate 100s linear infinite;
        -moz-animation: rotate 100s linear infinite;
        animation: rotate 100s linear infinite;
    }

.vs {
    // background-image: url("https://lh3.googleusercontent.com/proxy/7ICr9lXleRc0dnXjfPLjueieiR6GducIfgy5jYfW-ybetgLpwEAbHMGQneS_qamtJLyi5juzLbg3ZFR3pIg2jV1VY2rHKUOP85t1b9EI");
    height: 150px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

//chat

.chat {
    .card {
        background-color: inherit;

        .card-header,
        .card-footer {
            background-color: rgba(0, 0, 0, 0.2);
            color: white;
        }
    }
}

//game

.game {
    .avatar {
        max-height: 100px;
    }
    .tilt-album {
        height: 20vh;
        cursor: pointer;
        background-position: center !important;
        background-size: cover !important;
        transform-style: preserve-3d;

        &:hover {
            .titre-album {
                opacity: 1;
            }
        }
        .titre-album {
            transform: translateZ(30px);
            opacity: 0;
            transition: opacity 0.5s ease;
            z-index: 20;
            font-size: 3em;
            letter-spacing: 6px;
        }
    }

    .overlay2 {
        position: relative;
        transition: opacity 0.5s ease;
    }

    .overlay2:after {
        content: "\A";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.6);
        opacity: 0;
    }
    .overlay2:hover:after {
        opacity: 1;
    }

    svg {
        display: block;
        transform: scaleX(-1);
    }

    #loader {
        fill: white;
    }

    #border {
        fill: white;
    }
}

.bg-game {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    position: relative;

    .theme-title {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 3px;
        left: 50%;
        min-width: 188px;

        h3 {
            border: 3px solid $primary;
            border-radius: 20px;
        }
    }
        .question-question {
            font-size:1rem;
            @media (min-width: $breakpoint-tablet) {
                font-size: 1.2rem;
            }
        }

    .question-title {
        font-size:1.5rem;
        @media (min-width: $breakpoint-tablet) {
            font-size: 2.7rem;
          }
    }
}

//footer
footer {
    font-size: 0.8em;
}
